<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
      {{{body}}}


      <p id="token"></p>

<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-messaging.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyCTfI0pAF_TKSFDG5d2b-AosxEdCPdpZUM",
    authDomain: "tmdt20a10-admin.firebaseapp.com",
    databaseURL: "https://tmdt20a10-admin.firebaseio.com",
    projectId: "tmdt20a10-admin",
    storageBucket: "tmdt20a10-admin.appspot.com",
    messagingSenderId: "1022923126461",
    appId: "1:1022923126461:web:444deff924b15c61f269d4",
    measurementId: "G-QNKVHTMEHW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
//   firebase.analytics();


  const messaging = firebase.messaging();


    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken(
                  { vapidKey: 'BCqbcj9zBQZ5gzUw2gAtoMqjfSGfZoN2i29pQVIDGGe3u_GtrqoOYClUr5erWRcZ8S9LrffZuxftuO4q9sdiLQI' }
                );
            })
            .then(function (token) {
                console.log("Token : "+token);
                document.getElementById("token").innerHTML=token;
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken(
          { vapidKey: 'BCqbcj9zBQZ5gzUw2gAtoMqjfSGfZoN2i29pQVIDGGe3u_GtrqoOYClUr5erWRcZ8S9LrffZuxftuO4q9sdiLQI' }
        )
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    })
    IntitalizeFireBaseMessaging();
</script>
 
</body>
</html>